@use '@angular/material' as mat;
@use './theme-colors' as theme;

@include mat.core();

$light-theme-config: (
  color: (
    theme-type: light,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
  density: (scale: 0),
);
$light-theme: mat.define-theme($light-theme-config);

$dark-theme-config: (
  color: (
    theme-type: dark,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
  density: (scale: 0),
);
$dark-theme: mat.define-theme($dark-theme-config);

// Global styles
html, body { height: 100%; }

html {
  @include mat.theme($light-theme-config);
  @include mat.all-component-themes($light-theme);
  @include mat.typography-hierarchy($light-theme);
  color-scheme: light dark;

  .secondary-button {
    @include mat.button-color($light-theme, $color-variant: secondary);
  }

  @media (prefers-color-scheme: dark) {
    @include mat.theme($dark-theme-config);
    @include mat.typography-hierarchy($dark-theme);

    .secondary-button {
      @include mat.button-color($dark-theme, $color-variant: secondary);
    }
  }
}

body {
  margin: 0;
  font-family: Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
