@use '@angular/material' as mat;
@use './theme-colors' as theme;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif',
    plain-family: 'Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif',
  ),
  density: (scale: 0),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
  ),
  typography: (
    brand-family: 'Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif',
    plain-family: 'Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif',
  ),
  density: (scale: 0),
));

// Global styles
html, body { height: 100%; }

html {
  @include mat.all-component-themes($light-theme);
  @include mat.typography-hierarchy($light-theme);
  color-scheme: light dark;

  .secondary-button {
    @include mat.button-color($light-theme, $color-variant: secondary);
  }

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($dark-theme);
    @include mat.typography-hierarchy($dark-theme);

    .secondary-button {
      @include mat.button-color($dark-theme, $color-variant: secondary);
    }
  }
}

body {
  margin: 0;
  font-family: Roboto, "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
